!!!5
%html{ html_attrs('ru'), ng: { app: 'HowManyApp' } }
  %head
    %title How Many
    %base{ href: '/' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container{ ng: { view: true } }
    = render 'layouts/footer'